/ questionnaire/location.html.haml

%div.col-md-3.text-left
  %a.btn.btn-primary{"ui-sref" => "questionnaire.receiver_name"}
    Previous Step

%div.form-container.col-md-6.text-center
  .form-group
    %label{for: "location"} Location:
    %input{location: "location", "ng-model" => "formData.location", type: "text", "required" => "", name: "location"}

%div.col-md-3.text-right
  %a.btn.btn-primary{"ui-sref" => "questionnaire.relationship"}
    Next Step