/ questionnaire/location.html.haml

.form-group
  %label{for: "location"} Location
  %input{location: "location", "ng-model" => "formData.location", type: "text"}

.form-group
  %a.btn{"ui-sref" => "questionnaire.relationship"}
    Next