/ questionnaire/message.html.haml

.form-group
  %label{for: "message"} Message
  %input.form-control{message: "message", "ng-model" => "formData.message", type: "text"}

%button.btn{type: "submit"} Submit