/ questionnaire/message.html.haml

.form-group{"ng-controller" => "MessagesTypeaheadCtrl"}
  %label{for: "message"} Message
  %input{message: "message", "ng-model" => "formData.message", type: "text", "required" => "", name: "message", "typeahead" => "suggestion for suggestion in messages($viewValue)", "typeahead-editable" => "false", autocomplete: "off"}