/ questionnaire/receiver_name.html.haml

.form-group
  %label{for: "receiver_name"} Receiver Name
  %input{receiver_name: "receiver_name", "ng-model" => "formData.receiver_name", type: "text", "required" => "", name: "receiver_name"}

.form-group
  %a.btn{"ui-sref" => "questionnaire.location"}
    Next