/ questionnaire/relationship.html.haml

.form-group{"ng-controller" => "RelationshipsTypeaheadCtrl"}
  %label{for: "relationship"} Relationship:
  %input{relationship: "relationship", "ng-model" => "formData.relationship", type: "text", "required" => "", name: "relationship", "typeahead" => "suggestion for suggestion in relationships($viewValue)", "typeahead-editable" => "false", autocomplete: "off"}

.form-group
  %a.btn{"ui-sref" => "questionnaire.trait"}
    Next