/ questionnaire/relationship.html.haml

.form-group
  %label{for: "relationship"} Relationship
  %div{"ng-controller" => "RelationshipsTypeaheadCtrl"}
    %input{relationship: "relationship", "ng-model" => "formData.relationship", type: "text", "typeahead" => "suggestion for suggestion in relationships($viewValue)", autocomplete: "off"}

.form-group
  %a.btn{"ui-sref" => "questionnaire.trait"}
    Next