/ questionnaire/trait.html.haml

.form-group
  %label{for: "trait"} Trait
  %div{"ng-controller" => "TraitsTypeaheadCtrl"}
    %input{trait: "trait", "ng-model" => "formData.trait", type: "text", "typeahead" => "suggestion for suggestion in traits($viewValue)", autocomplete: "off"}

.form-group
  %a.btn{"ui-sref" => "questionnaire.message"}
    Next