/ questionnaire/trait.html.haml

.form-group
  %label{for: "trait"} Trait
  %input.form-control{trait: "trait", "ng-model" => "formData.trait", type: "text"}

.form-group
  %a.btn{"ui-sref" => "questionnaire.message"}
    Next