%form{"ng-submit" => "create()"}
  %fieldset
    %h2 Add a new verse:
    %ol  
      %li
        %label{:for => "name"} Line One:
        %input{:type => "text", :name => "line_one", :class => "text", "ng-model" => "newVerse.line_one" }
    = csrf_meta_tags
    %input{:type => "submit", :value => "Send", :class => "button"}